<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Select an Org</title>
</head>
<body>

<h1>dev gias lockout</h1>

<div>
    <%if(error) {%>
        <div style="color: red;"><%=error%></div>
    <%}%>
    <div>
        <%Object.keys(details).forEach((key) => {%>
        <div><%=key%>: <%=details[key]%></div>
        <%})%>
    </div>
</div>

<form method="post" action="/interaction/<%= uuid %>/complete">
    <input type="hidden" name="uuid" value="<%= uuid %>" />
    <input type="hidden" name="uid" value="<%= uid %>" />
    <input type="hidden" name="oid" value="<%= oid %>" />
    <input type="hidden" name="status" value="success" />
    <input type="hidden" name="type" value="gias-lockout-check" />
    <button type="submit">Continue</button>
</form>

</body>
</html>