<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Username and Password</title>
</head>
<body>
<h1>iayaaaa</h1>
<form method="post" action="/interaction/<%= uuid %>/complete">
    <input type="hidden" name="status" value="success" />
    <input type="hidden" name="type" value="usernamepassword" />
    <button type="submit" name="uid" value="11d62132-6570-4e63-9dcb-137cc35e7543">Sign in as foo@example.com</button>
</form>

<form method="post" action="/interaction/<%= uuid %>/complete">
    <input type="hidden" name="uuid" value="<%=uuid%>" />
    <input type="hidden" name="status" value="failed" />
    <input type="hidden" name="type" value="usernamepassword" />
    <input type="hidden" name="reason" value="Invalid client id" />
    <button type="submit">Return failure</button>
</form>

<form method="post" action="/interaction/<%= uuid %>/complete">
    <input type="hidden" name="uuid" value="<%=uuid%>" />
    <input type="hidden" name="status" value="cancelled" />
    <input type="hidden" name="type" value="usernamepassword" />
    <button type="submit">Cancel</button>
</form>

</body>
</html>